$light-color: #000;
$light-bg: #EEE;
$dark-color: #EEE;
$dark-bg: #000;

.weather-widget {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  box-sizing: border-box;
  width: 300px;
  height: 150px;
  background-color: $light-bg;
  color: $light-color;
  opacity: 0.8;
  -webkit-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.64);
  box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.64);

  // Color scheme options
  &.dark {
    background-color: $dark-bg;
    color: $dark-color;

    .left {
      border-right: 1px solid $dark-color;

      img.svg{
        -webkit-filter: contrast(0) brightness(1.7);
        filter: contrast(0) brightness(1.7);
      }
    }

    .right {
      .city.editable {
        color: $dark-color;
      }
    }

    input {
      color: $dark-color;
    }
  }
  // End of scheme options

  .left, .right {
    width: 150px;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .left {
    border-right: 1px solid $light-color;

    .icon {
      img {
        width: 100px;
      }

      span {
        margin-top: -20px;
      }
    }
  }

  .right {
    .current-temp {
      font-size: 30pt;
      margin-bottom: -5px;
      line-height: 1;
    }

    .city {
      margin-top: 10px;

      input {
        width: 100%;
        font-size: 15pt;
        text-align: center;
        box-sizing: border-box;
        border-bottom: 1px solid transparent;
      }

      &.editable {
        display: block;
        input {
          border-bottom: 1px solid $light-color;
        }
      }
    }

    .location-btns {
      width: 28px;
      height: 10px;
      position: absolute;
      right: 5px;
      bottom: 15px;

      * {
        float: right;
        cursor: pointer;
      }
    }
  }

  button {
    border: none;
    background: none;
  }

  input {
    border: none;
    background: none;
    color: $light-color;
    font-weight: 200;

    &:focus {
      outline: none;
    }
  }

  .hidden {
    display: none;
  }
}
